[Unit]
Description=Tester

[Service]
ExecStart=/home/administrator/.nvm/versions/node/v20.6.0/bin/node index.js
WorkingDirectory=/opt/Tester2
Restart=always
User=administrator

[Install]
WantedBy=multi-user.target