/* Переменные */
:root {
    --background-color: #fff;
    --button-color: #ff7d00;
    --span-color: rgba(255, 218, 183, 1);
    --border-color: #747474;
    --text-color-1: rgba(50, 50, 50, 1);
    --placeholder-color: rgba(201, 201, 201, 1);
    --border: solid var(--border-color);
    --border-radius: 5px;
    --input-button-width: 175px;
}

/* left (Левая часть программы) */
/* right - правая часть программы с графиками и надписью */
body, .drop, .options, .inputBlock, .graph, .left, .right{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

label, button, .drop {
    cursor: pointer;
}

/* Стили для элементов с скруглением углов */
.inputBlock, input, button {
    border-radius: var(--border-radius);
}

/* Основные стили */
body {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    align-items: start;
    flex-direction: row;
    justify-content: center;
    background-image: url(images/bg.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* Скроллбар */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background: white;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: var(--button-color);
    border-radius: 0.5rem;
}

.left {
    position: absolute;
    right: calc(50% + 415px);
}

/* Выпадающее меню */
.drop {
    position: relative;
}

.drop>span {
    color: var(--text-color-1);
    padding: 10px 0;
    width: 250px;
    height: 20px;
    background-color: var(--span-color);
    border: var(--border) 2px;
    border-radius: 10px;
}

.drop:hover.options {
    display: block;
}

/* Элементы выпадающего меню */
.options {
    color: #414141;
    padding: 10px;
    top: 60px;
    background-color: var(--background-color);
    border: solid 2px var(--border-color);
    border-radius: 15px;
    position: absolute;
    display: none;
    cursor: auto;
}

/* Блоки ввода */
.inputBlock {
    padding: 5px;
    margin: 10px 2.5px;
    width: 215px;
    height: 120px;
    background-color: var(--span-color);
    border: var(--border) 1.5px;
}

/* Поля ввода */
input {
    text-align: center;
    padding: 2px;
    margin: 2px;
    width: var(--input-button-width);
    height: 15px;
    border: solid 1px var(--border-color);
    cursor: text;
}

/* Placeholder */
input::placeholder {
    color: var(--placeholder-color);
}

/* Кнопки */
button {
    font-size: 12px;
    color: white;
    padding: 5px;
    margin-top: 5px;
    width: var(--input-button-width);
    background-color: var(--button-color);
    border: none;
}

span {
    padding: 15px;
}

/* Блоки графиков */
.graph {
    margin: 15px 25px;
    background-color: var(--background-color);
    border: var(--border) 2px;
    border-radius: 1rem;
}

/* Холст графиков */
canvas {
    margin: 15px;
    overflow-clip-margin: content-box;
    overflow: clip;
    display: block;
    box-sizing: border-box;
}

/* Текст внизу */
#Tahat {
    font-size: 20px;
    font-weight: 500;
    color: rgba(116, 116, 116, 1);
    bottom: 0;
    position: relative;
}

/* Кнопка возвращения */
#tester {
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color-1);
    margin: 20px 0 15px;
    width: 250px;
    height: 40px;
    background-color: var(--span-color);
    border: var(--border) 2px;
    border-radius: 10px;
}