:root {
    --primary-color: #FF9100;
    --secondary-color: #767676;
    --background-color: #ffeed8;
    --border-radius: 0.5rem;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background: white;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: #FF9100;
    border-radius: 0.5rem;
    margin-top: 57px;
    border: 2px solid white;
}

.workspace {
    display: flex;
    justify-content: center;
}

.drop {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    height: 55px;
}

.drop>span {
    box-shadow: 0px 5px 10px #a1a1a1;
    padding: 5px;
    background-color: var(--secondary-color);
    width: 150px;
    text-align: center;
    height: 20px;
    margin: 10px;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius);
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF9F60;
    border-radius: 1rem;
    position: absolute;
    top: 35px;
    left: auto;
    border: 1px solid #ddd;
    padding: 10px;
    right: 0;
    width: 160px;
    margin-top: 15px;
    cursor: auto;
    color: #414141;
}

.drop:hover.options {
    display: block;
}

.inputBlock {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 5px;
    width: 150px;
    border: 1px solid #ccc;
    margin-top: 5px;
    text-align: center;
    color: black;
}

input {
    text-align: center;
    height: 15px;
    border-radius: var(--border-radius);
    border: none;
    margin: 2px;
    padding: 2px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

button {
    border-radius: var(--border-radius);
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: var(--secondary-color);
    box-shadow: 0px 5px 10px #a1a1a1;
    border: none;
    color: white;
    width: 150px;
}

.temp {
    background-color: var(--background-color);
    padding-top: 15px;
    border-radius: 1rem;
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.temp span {
    margin: 10px;
    text-align: center;
}

canvas {
    overflow-clip-margin: content-box;
    overflow: clip;
    display: block;
    box-sizing: border-box;
    height: 400px;
    width: 800px;
    border: #EF7613;
    margin: 15px;
}

#return {
    position: static;
    width: 150px;
    height: 30px;
    margin-top: 25px;
    text-align: center;
}

label {
    cursor: pointer;
}