body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: sans-serif;
}

.workspace {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF9F60;
    border-radius: 1rem;
    position: absolute;
    top: 35px;
    left: auto;
    display: none;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 10px;
    right: 0;
    width: 160px;
    margin-top: 15px;
    cursor: auto;
    color: #414141;
}

/* .dropdown {
    display: flex;
    cursor: pointer;
} */

.drop {
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    position: relative;
    right: 0;
    height: 55px;
}

.drop>span {
    box-shadow: 0px 5px 10px #a1a1a1;
    border: none;
    padding: 5px;
    border-radius: 0.5rem;
    background-color: #767676;
    width: 150px;
    text-align: center;
    height: 20px;
    margin: 10px;
    color: white;
    display: flex;
    justify-content: center;

}

.drop:hover.options {
    display: block;
}

.time {
    display: flex;
    flex-direction: column;
    background-color: #ffeed8;
    border-radius: 0.5rem;
    padding: 5px;
    width: 150px;
    border: 1px solid #ccc;
    margin-top: 5px;
    text-align: center;
}

.time input {
    border-radius: 0.5rem;
    border: none;
    margin: 2px;
    padding: 2px;
    background-color: #FF9100;
    color: #767676;
}

#session_block {
    border-radius: 0.5rem;
    background-color: #ffeed8;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

#session_block input {
    border-radius: 0.5rem;
    padding-left: 15px;
    border: none;
    width: 130px;
    margin-left: 1px;
    background-color: #FF9100;
    /* box-shadow: 0px 2px 5px; */
}

button {
    border-radius: 0.5rem;
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: #767676;
    box-shadow: 0px 5px 10px #a1a1a1;
    border: none;
    color: white;
    width: 150px;
}

/* #confirm {
    background-color: chartreuse;
} */

input {
    text-align: center;
    height: 15px;
}

.temp {
    background-color: #ffeed8;
    padding-top: 15px;
    border-radius: 1rem;
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.temp span {
    margin: 10px;
    text-align: center;
}

canvas {
    overflow-clip-margin: content-box;
    overflow: clip;
    display: block;
    box-sizing: border-box;
    height: 400px;
    width: 800px;
    border: #EF7613;
    margin: 15px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background: white;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: #FF9100;
    border-radius: 0.5rem;
    margin-top: 57px;
    border: 2px solid white;
}

#return {
    position: static;
    width: 150px;
    /* background-color: rgb(255, 132, 0); */
    height: 30px;
    margin-top: 25px;
    text-align: center;
}

label {
    cursor: pointer;
}