:root {
    --main-color: #ffeed8;
    --button-color: #767676;
    --temp: #FF9100;
    --input-color: white;
    --shadow-color: #a1a1a1;
    --border-radius: 0.5rem;
}

body {
    flex-direction: column;
    font-size: 20px;
    text-align: center;
}

p {
    margin: 0;
    margin-bottom: 10%;
}

button {
    background-color: var(--button-color);
    border: none;
    border-radius: var(--border-radius);
    width: 100px;
    height: 40px;
    margin: 1%;
    cursor: pointer;
    box-shadow: 0px 5px 10px var(--shadow-color);
    color: var(--input-color);
}

input {
    background-color: var(--input-color);
    border-radius: var(--border-radius);
    width: 70px;
    height: 30px;
    margin: 1%;
    border: none;
    box-shadow: 0px 2px 5px;
}

.centered {
    text-align: center;
}

.display, .sensor, .trigger {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sensor, .trigger {
    width: 100%;
    height: 100px;
    background-color: var(--temp);
    border-radius: var(--border-radius);
    margin-bottom: 10%;
}

.trigger {
    margin-bottom: 0;
}

#top {
    width: 90%;
}

#left {
    margin: auto;
    width: fit-content;
    height: 250px;
    padding: 1%;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    flex-direction: column;
}

#maxTemp {
    flex-direction: column;
}

#maxTemp p {
    margin-bottom: 0;
}

#big {
    width: 100%;
    margin: 10px;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    flex-wrap: wrap;
}

.dvoynoy {
    margin: auto;
    margin-top: 1%;
    width: 12%;
    height: 80%;
}

input[type="checkbox"] {
    border-radius: var(--border-radius);
    cursor: pointer;
    accent-color: var(--input-color);
    box-shadow: none;
    width: 20px;
}

.form {
    width: 60%;
    height: 60px;
}

.timeInput {
    width: 50px;
    height: 30px;
}

.time {
    width: 100px;
    height: 40px;
}

#start {
    margin-left: 150px;
}

#stop {
    margin-left: 20px;
}

#seeGraph {
    position: static;
    width: 150px;
    height: 30px;
    margin-top: 150px;
}
