:root {
    --main-color: #fff;
    --button-color: #ff7d00;
    --temp: #ffdab7;
    --input-color: #fff;
    --shadow-color: #a1a1a1;
    --border-color: #747474;
}

body {
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    background-image: url("images/bg.svg");
    background-size: cover;
    background-attachment: fixed;
}

p {
    margin: 0;
    margin-bottom: 10%;
}

button {
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: 1%;
    cursor: pointer;
    color: var(--input-color);
}

input {
    background-color: var(--input-color);
    border-radius: 5px;
    width: 70px;
    height: 30px;
    margin: 1%;
    border: solid 1px var(--border-color);
}

.centered {
    text-align: center;
}

.display,
.sensor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sensor {
    width: 100%;
    height: 85px;
    background-color: var(--temp);
    border-radius: 5px;
    margin-bottom: 20px;
    border: solid 1px var(--border-color);
    box-shadow: 3px 3px 5px 0px rgba(116, 116, 116, 0.25);
}

.section {
    flex-direction: column;
    height: 520px;
    justify-content: space-between;
}

#leftSensors {
    width: fit-content;
    min-width: 150px;
    height: 315px;
    background-color: var(--main-color);
    border: solid 2px var(--border-color);
    border-radius: 15px;
    flex-direction: column;
    margin: 0;
    padding: 0 40px;
}

#bottom {
    border: solid 2px var(--border-color);
    border-radius: 15px;
    width: 100%;
    background-color: #ffe7d1;
    height: 160px;
    padding: 0 20px;
}

#myInput {
    width: 50%;
}

#maxTemp {
    flex-direction: column;
    margin: 0;
}

#maxTemp p {
    margin-bottom: 0;
}

#big {
    width: 100%;
    height: 315px;
    background-color: var(--main-color);
    border-radius: 15px;
    flex-wrap: wrap;
    border: solid 2px var(--border-color);
    padding: 0 20px;
}

.dvoynoy {
    margin: auto;
    width: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="checkbox"] {
    display: none;
}

.checkbox-image {
    background-image: url('images/uncheck.svg');
    background-size: cover;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}

input[type="checkbox"]:checked+.checkbox-image {
    background-image: url('images/check.svg');
}

#setTime {
    width: 50%;
    margin: 10px;
}

#setTempForm {
    width: 40%;
    margin: 10px;
}

#seeGraph {
    width: 150px;
    height: 90px;
    background-color: rgba(255, 245, 235, 1);
    border: solid 1.5px var(--border-color);
    color: rgba(50, 50, 50, 1);
}

.notification-container {
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.5s ease;
    /* Плавный переход для opacity */
    border: solid 2px var(--border-color);
    border-radius: 15px;
    height: 160px;
    background-color: var(--main-color);
    min-width: 100%;
    word-wrap: break-word;
    white-space: normal;
    flex-direction: column;
    flex-wrap: wrap;
}

.notification-container p {
    color: #1E1E1E;
    margin: 5px
}

main {
    width: 100%;
}

#left {
    margin-right: 60px;
    justify-content: space-between;
}

#Tahat {
    font-size: 20px;
    font-weight: 500;
    color: rgba(116, 116, 116, 1);
    position: fixed;
    bottom: 0;
    padding: 15px;
}

.inputForm {
    margin-top: 15px;
}