:root {
    --main-color: #fff;
    --button-color: #ff7d00;
    --temp: #ffdab7;
    --input-color: #fff;
    --shadow-color: #a1a1a1;
    --border-color: #747474;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 20px;
    font-family: 'Nunito Sans';
    text-align: center;
    flex-direction: column;
    padding: 10px;
    background-image: url("images/bg.svg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-width: 475px;
    overflow-x: auto;
}

p {
    margin: 0;
}

button {
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: 1%;
    cursor: pointer;
    color: var(--input-color);
}

input {
    background-color: var(--input-color);
    border-radius: 5px;
    width: 70px;
    height: 30px;
    margin: 1%;
    border: solid 1px var(--border-color);
}

.centered {
    text-align: center;
}

.display,
.sensor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sensor {
    align-items: normal;
    flex-direction: column;
    width: 100%;
    height: 85px;
    background-color: var(--temp);
    border-radius: 5px;
    margin: 0;
    border: solid 1px var(--border-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    min-width: 120px;
}

.section {
    flex-direction: column;
    justify-content: space-between;
}

#leftSensors {
    width: 140px;
    height: 315px;
    background-color: var(--main-color);
    border: solid 2px var(--border-color);
    border-radius: 15px;
    flex-direction: column;
    margin: 20px 0;
    margin-top: 25px;
    padding: 0 20%;
}

#bottom {
    border: solid 2px var(--border-color);
    border-radius: 15px;
    width: 100%;
    min-width: 300px;
    background-color: #ffe7d1;
    min-height: 160px;
    padding: 10px;
    flex-wrap: wrap;
    gap: 8px;
}

#myInput {
    width: 50%;
}

#maxTemp {
    flex-direction: column;
    margin: 0;
}

#maxTemp p {
    margin-bottom: 0;
}

#big {
    width: 100%;
    background-color: var(--main-color);
    border-radius: 15px;
    flex-wrap: wrap;
    border: solid 2px var(--border-color);
    padding: 0 10px;
    margin: 20px 0;
}

.dvoynoy {
    margin: 0 20px;
    width: 100px;
    height: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input[type="checkbox"] {
    display: none;
}

.checkbox-image {
    background-image: url('images/uncheck.svg');
    background-size: cover;
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}

input[type="checkbox"]:checked+.checkbox-image {
    background-image: url('images/check.svg');
}

#setTime {
    width: 50%;
}

#setTempForm {
    width: 40%;
    flex: 1 0 160px;
}

#seeGraph {
    width: 150px;
    height: 90px;
    background-color: rgba(255, 245, 235, 1);
    border: solid 1.5px var(--border-color);
    color: rgba(50, 50, 50, 1);
    flex: 0 0px;
    font-size: 15px;
}

.notification-container {
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.5s ease;
    border: solid 2px var(--border-color);
    border-radius: 15px;
    height: 180px;
    background-color: var(--main-color);
    width: 160px;
    word-wrap: break-word;
    white-space: normal;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 15%;
    font-size: 18px;
}

.notification-container p {
    color: #1E1E1E;
    margin: 5px
}

main {
    width: 100%;
}

#left {
    margin-right: 65px;
    align-self: flex-start;
}

#Tahat {
    font-size: 20px;
    font-weight: 500;
    color: rgba(116, 116, 116, 1);
    position: fixed;
    bottom: 0;
    padding: 15px;
}

.inputForm {
    margin-top: 15px;
}

#right {
    align-items: end;
}

#confirmBlock {
    min-height: 20%;
    padding: 1% 5%;
    background-color: #fff5eb;
    position: absolute;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
}

#confirmBlock div {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#info {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

#infoBlock {
    width: 700px;
    height: 600px;
    background-color: #fff5eb;
    position: absolute;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    transform: translateY(15%);
}

#infoText {
    text-align: start;
    width: 480px;
    height: 390px;
    background-color: #fff;
    border: solid 1.5px var(--border-color);
    border-radius: 5px;
    overflow: scroll;
    padding: 20px;
}

#infoText span {
    text-align: center;
    -webkit-text-stroke: medium;
    display: block;
    color: red;
}

#infoButtons {
    display: flex;
    width: 522px;
    margin-top: 35px;
    justify-content: space-between;
}

#ok,
#cancel {
    background-color: #fff5eb;
    border: 1px solid var(--button-color);
    color: var(--button-color);
}

.InfoButtons {
    width: 250px;
    height: 50px;
    margin: 0;
    font-size: 20px;
}

#share {
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background: white;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: var(--button-color);
    border-radius: 0.5rem;
}

@media (max-width: 580px) {
    main {
        flex-direction: column;
    }

    #left {
        flex-direction: row;
    }
}